* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav li {
    padding: 5px;
    text-decoration: none;
}

main {
    padding: 10px;
}

main h2 {
    margin-top: 100px;
    margin-left: 100px;
    font-size: 72px;
}

main p {
    font-size: 20px;
    margin-left: 130px;
}

main button {
    margin-left: 135px;
    margin-top: 10px;
    display: block;
    width: 100px;
    height: 30px;
}

section {
    background-color: grey;
    height: 200px;
}

section ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section li {
    list-style-type: none;
    padding: 10px;
}

.learn {
    height: 300px;
    background-color: white;
    padding: 50px;
    position: relative;
}

.learn h2 {
    font-size: 60px;
}

.learn p {
    font-size: 16px;
    width: 400px;
}

.dogs {
    position: absolute;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    top: 50px;
    right: 50px;
    background-color: black;
    width: 550px;
    height: 500px;
    padding: 100px;
}

.dogs div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: grey;
}